body {
    background-color: lightblue;
    color: black;
    font-family: 'Encode', sans-serif;
}

h1 {
    margin: 20px;
    font-size: 45px;
}

h2 {
    margin: 20px;
    font-size: 30px;
}

p {
    margin: 20px;
    font-size: 22px;
}

div img {
    margin: 50px;
    width: 15%;
}

button {
    top: -30px;
    margin: 50px;
}

#results-chart {
    font-size: 22px;
    vertical-align: center;
    top: -20;
    width: 50%;
}

div canvas {
    background: lightgray;
    width: 200px;
}