body {
    background-color: lightblue;
    color: black;
}

h1 {
    margin: 20px;
    font-size: 45px;
}

h2 {
    margin: 20px;
    font-size: 30px;
}

p {
    margin: 20px;
    font-size: 22px;
}

.container {
    margin: 50px;

}